/* Global Variables */

/*FONTS*/
:root{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    text-align: center;
}

p{
    font-weight: bold;
    margin:2em 5em;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}
