/* Global Variables */
:root{
    --primary: #d6d6d6;
    --secondary: #e6e6e6;
    
}

html {
    background-color: var(--primary);
    color: var(--secondary);
}

.wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    padding: 2em;
}

.reroll {
    margin: 2em;
}

.hero-desc {
    background-color: var(--primary);
    width: 50%;
    margin-top: 1em;
    padding: 2em;
}

.button-group {
    display: grid;
}

button {
    border-radius: 16px;
    background: #d6d6d6;
}

button:hover {
    border-radius: 16px;
    background: #d6d6d6;
    box-shadow: inset 9px 9px 18px #b6b6b6,
                inset -9px -9px 18px #f6f6f6;
}


/* Neumorphism Saved Buttons */

/* Regular Box

    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;

*/

/* 

Hovered Box

    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;

*/

/* Pressed Box

    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #bebebe,
                inset -20px -20px 60px #ffffff;

*/